@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins-Medium.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins-SemiBold.woff2);
}

@font-face {
  font-family: "RedHatDisplay-Black";
  src: url(../fonts/RedHatDisplay-Black.woff2);
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url(../fonts/RedHatDisplay-Bold.woff2);
}

@font-face {
  font-family: "RedHatDisplay-ExtraBold";
  src: url(../fonts/RedHatDisplay-ExtraBold.woff2);
}

@font-face {
  font-family: "RedHatDisplay-Medium";
  src: url(../fonts/RedHatDisplay-Medium.woff2);
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url(../fonts/RedHatDisplay-Regular.woff2);
}

@font-face {
  font-family: "RedHatDisplay-SemiBold";
  src: url(../fonts/RedHatDisplay-SemiBold.woff2);
  font-weight: 500;
}